{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

{% if listings %}
    {% for listing in listings %}
        <div class="card">
            <h3>{{ listing.title }}</h3>

            <span class="badge">{{ listing.category }}</span>

            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" width="250">
            {% endif %}

            <p>{{ listing.description }}</p>

            <p class="price">₹ {{ listing.starting_bid }}</p>

            <a href="{% url 'listing' listing.id %}" class="button">
    View Listing
</a>

        </div>
    {% endfor %}
{% else %}
    <p>No active listings.</p>
{% endif %}
{% endblock %}
