{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auctions</title>
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <div class="navbar">
        <div class="container">
            <span class="header">🛒 Auctions</span>

            <a href="{% url 'index' %}">Active Listings</a>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                <span style="color:#9ca3af;">
                    Signed in as <strong>{{ user.username }}</strong>
                </span>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}

            {% if user.is_authenticated %}
    <a href="{% url 'create_listing' %}" class="nav-link">
        ➕ Create Listing
    </a>
{% endif %}


        </div>
    </div>

    <!-- PAGE CONTENT -->
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}


</body>
</html>
